<html>

    <head>
        <title>The Hypertext Library</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="js/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- personal style -->
        <link id="pagestyle" rel="stylesheet" href="css/light.css" media="screen" title="no title" charset="utf-8">

        <!-- icon -->
        <link rel="shortcut icon" type="image/x-icon" href="../graphics/book.ico" />

        <!-- js scripts -->
        <script src="js/books.js"></script>
        <script src="js/index.js"></script>

    </head>


    <body>

    <!-- <div class="se-pre-con"></div> -->

<!-- *********************************    Navbar   ************************************ -->

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container top">
                <div class="btn-group pull-right">
                    <a type="button" id="toggle-lights" class="btn btn-default">
                        Lights Off
                    </a>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#aboutModal">
                        About This Site
                    </button>
                </div>
            </div>
        </div>

<!-- *********************************    Title   ************************************ -->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="filler"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1> 
                        The Hypertext Library
                    </h1>
                </div>
            </div>
        </div>
    </div>

<!-- ******************************    Library   ************************************ -->

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                <input type="text" id="search-box" class="form-control" placeholder="Search" autofocus tabindex="1">
                </div>
            </div>
        </div>
    </div>
    <div id="book-list" class="container">
        {book_list}
    </div>
</div>


<!-- *********************************    Footer    ************************************ -->

        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <footer>
                    <h6>
                        Hyptertextual Literature. Made by <a href="http://noaheisen.com/" target="_">Noah Eisen</a> and <a href="https://www.linkedin.com/in/robert-rose-b4a98b104?authType=NAME_SEARCH&authToken=_mX-&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A444351658%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1454427639364%2Ctas%3Arobe" target="_">Robert Rose</a>
                    </h6>
                </footer>
            </div>
        </div>


<!-- ******************************    Modal Popup   ************************************ -->


        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="aboutModalLabel">About The Hypertext Library</h4>
              </div>
              <div class="modal-body">
              This site is devoted to the idea that literature can be analyzed in a hypertextual manner. A certain word or phrase may appear several times for a given book, and we believe there is meaning embedded in the links between the occurrences. This site allows you to treat a book like a brain, with synaptic connections from word to word, strengthening the meaning behind the text. As you explore the books, remember, every word is a link, click it to see where it leads.
              <br><br>
              The Hypertext Library was made by <a href="http://noaheisen.com/" target="_">Noah Eisen</a> and <a href="https://www.linkedin.com/in/robert-rose-b4a98b104?authType=NAME_SEARCH&authToken=_mX-&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A444351658%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1454427639364%2Ctas%3Arobe" target="_">Robert Rose</a>. Our initial goal was to improve the performance and aesthetics of <a href="http://www.doc.ic.ac.uk/~rac101/concord/texts/ulysses" target="_">this site</a>, which we both used while reading Ulysses.
              <br><br>
              If you are interested in contributing, requesting a book, or learning more about this website, check out our <a href="https://github.com/ncteisen/the-hypertextual-library" target="_">github page</a>.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


    </body>
</html>